global
    daemon
    maxconn 256

defaults
    log global
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http-in
    bind *:80
    default_backend servers

backend servers
    stats enable
    balance roundrobin
    option httpchk GET /health
    http-check expect status 200
    
    server server1 message1:9007 maxconn 32 check inter 2000 fall 3 rise 2
    server server2 message2:9008 maxconn 32 check inter 2000 fall 3 rise 2
    server server3 message3:9009 maxconn 32 check inter 2000 fall 3 rise 2
